[submodule "deps/bdwgc"]
	path = deps/bdwgc
	url = https://github.com/ivmai/bdwgc.git
[submodule "deps/STC"]
	path = deps/STC
	url = https://github.com/stclib/STC.git
[submodule "deps/libatomic_ops"]
	path = deps/libatomic_ops
	url = https://github.com/ivmai/libatomic_ops.git
